<header>
  <p>
    {{Email}}
  </p>
  <p>
    Idle Timer: {{globals.timer}} / 100s
  </p>
  <button mat-button (click)='logOut()'>
    Log Out
  </button>
</header>



<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></tr>

</table>

<button mat-button (click)='addnew()' class='mat-raised-button'>AddNew</button>
